<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <form class="container" action="." method="post">
      <h1 class="heading"><b>Acronym Ganerator</b></h1>
      <div class="box">
      <label class="text" for="username"><b>Enter Text:</b></label><br>
      <input class="username" type="text" name="username"></br>
      <button class="submit" type="submit" name="button">Submit</button>
      </div>
    </form>
  </body>
</html>
