<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pass</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

      body{
        background: white;
        font-family: 'Raleway', 'serif';
      }

      .container{
        text-align: left;
        background: white;
        border-radius: 20px;
        width: 400px;
        height: 250px;
        margin: 100px auto;
        text-align: center;
      }  
      }
    </style>
  </head>
  <body>
    <div class="container ">
    <h1>Acronym is {{name}}</h1>
    <p><b>The related link is <a href="{{ link }}">{{ link }}</b></a></p>

    <p><a href="index.html"><b>Go back to home page</a></p>
    </div>
  </body>
</html>
