@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{
  background: white;
  font-family: 'Raleway', 'serif';
}

.container{
  text-align: left;
  background: white;
  border-radius: 20px;
  width: 400px;
  height: 250px;
  margin: 100px auto;
  text-align: center;
}  
}
